.App {
  text-align: center;
}

.highlight {
  background-color: #fafa9d;
}

.search-input{
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 18px;
  width: 25%;
}
.search-input:focus{
  border: 1px solid #ccc;
}

.search-result{
  margin: 0px auto;
  list-style: none;
  padding: 0;
  width: 25%;
}

.search-result li{
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 0px;
  margin: 0px;
  text-align: left;
  font-size: 18px;
}